<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Biblio de Software</title>
</head>

<body>
 
    {{>navbar}}
    

    <!--*******************************Noticias**********************************************-->
  
    <section class="container uploads p-5 justify-content-center text-align-center">
        <h4>Ultimas Noticias</h4>
        <div class="row">
            {{#each posts}}
            <div class="card p-0 col-12 col-md-6 col-xl-3 mb-2">
                <img src="{{feature_image}}" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <h6 class="card-subtitle text-muted">{{published_at}}</h6>
                    <p class="card-text">
                        {{{excerpt}}}
                    </p>
                    <a href="{{url}}" class="btn btn-info">Post original</a>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
    <!--****************************Footer************************************************************-->
    {{>footer}}

</body>

</html>