<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>BackOffice - Biblio de Soft</title>
</head>

<body>
    {{>navbarpedidos}}
    <div class="container">
        <h2>Equipos</h2>
        <div class="container">

            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#AddOficina">Añadir</button>
            <table class="table table-striped" id="mitabladeoficinas">
                <thead>
                    <tr>
                        <th> Oficina ID</th>
                        <th> Nombre de Oficina/Sector </th>
                        <th> Dirección</th>
                        <th> Teléfono</th>
                        <th> Email</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each oficinas}}
                    <tr>
                        <td> {{ oficina_id}}</td>
                        <td> {{ oficina_nombre}}</td>
                        <td> {{ oficina_direccion}}</td>
                        <td> {{ oficina_telefono}}</td>
                        <td> {{ oficina_email}}</td>
                        <td>
                            <a href="javascript:editaroficina()" class="btn btn-info edit" data-id="{{oficina_id}}"
                                data-oficina-nombre="{{oficina_nombre}}" data-direccion="{{oficina_direccion}}"
                                data-oficina-telefono="{{oficina_telefono}}"
                                data-oficina-email="{{oficina_email}}">Editar</a>
                        </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>

        {{!-- AÑADIR Modal --}}

        <form action="/saveoficina" method="post">
            <div class="modal fade" id="AddOficina" tabindex="-1" role="dialog" aria-labelledby="AddOficinaLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="AddOficinaLabel">Añadir oficina nueva</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <strong>Estas seguro de agregar una oficina? No se podrá eliminar una vez
                                agregada. Solo se podrá editar</strong>

                            <div class="form-group mt-4">
                                <input type="text" name="oficina_nombre" class="form-control mb-4" placeholder="Nombre Oficina/Sector" 
                                 required>
                                 <input type="text" name="oficina_direccion" class="form-control mb-4" placeholder="Direccion" 
                                 required>
                                 <input type="tel" name="oficina_telefono" class="form-control mb-4" placeholder="Telefono" 
                                 required>
                                 <input type="email" name="oficina_email" class="form-control mb-4" placeholder="Email" 
                                 required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>


    </div>
    {{>footerpedidos}}

</body>

</html>